<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="../dbdoc.js" type="text/javascript"></script>
<link href="../dbdoc.css" type="text/css" rel="stylesheet">
</head>
<body id="bottom_left">
<h2>Views
<div id="search"><input type="text" onkeyup="$d_Find('narrow',this.value,'a')"/></div></h2><div id="narrow"><a href ="VISTA_CITAS.html" target="ObjectDetailsFrame">VISTA_CITAS</a>
<a href ="VISTA_DETALLES_EMPLEADO.html" target="ObjectDetailsFrame">VISTA_DETALLES_EMPLEADO</a>
<a href ="VISTA_EMPLEADOS_POR_CARGO.html" target="ObjectDetailsFrame">VISTA_EMPLEADOS_POR_CARGO</a>
<a href ="VISTA_GANANCIA_EMPLEADO.html" target="ObjectDetailsFrame">VISTA_GANANCIA_EMPLEADO</a>
<a href ="VISTA_GANANCIA_TRATAMIENTO.html" target="ObjectDetailsFrame">VISTA_GANANCIA_TRATAMIENTO</a>
<a href ="VISTA_PACIENTES_FRECUENTES.html" target="ObjectDetailsFrame">VISTA_PACIENTES_FRECUENTES</a>
<a href ="VISTA_PACIENTES_POR_GENERO.html" target="ObjectDetailsFrame">VISTA_PACIENTES_POR_GENERO</a>
<a href ="VISTA_PACIENTE_Y_DOCTOR.html" target="ObjectDetailsFrame">VISTA_PACIENTE_Y_DOCTOR</a>
<a href ="VISTA_TRATAMIENTOS_CAROS.html" target="ObjectDetailsFrame">VISTA_TRATAMIENTOS_CAROS</a>
<a href ="VISTA_TRATAMIENTOS_MAS_UTILIZADOS.html" target="ObjectDetailsFrame">VISTA_TRATAMIENTOS_MAS_UTILIZADOS</a>

</div></body> </html>